= form_for @new_list, remote: true do |f|
  - if @new_list.errors[:name].any?
    %ul.error-list
      - @new_list.errors[:name].each do |error|
        %li Name #{error}.
  = f.label :name
  = f.text_field :name, autofocus: true
  = f.submit
