= form_for [list, todo], remote: true do |f|
  - if todo.errors[:name].any?
    %ul.error-list
      - todo.errors[:name].each do |error|
        %li Name #{error}.
  = f.label :name
  = f.text_field :name, autofocus: true
  = f.submit
