= form_for [@list, @new_todo], remote: true do |f|
  - if @new_todo.errors[:name].any?
    %ul.error-list
      - @new_todo.errors[:name].each do |error|
        %li Name #{error}.
  = f.label :name
  = f.text_field :name, autofocus: true
  = f.submit
